<form class="flexcol" autocomplete="off">
	<section class="content">
    <div>
      {{{abilityLevelAsSentenceHtml}}}
      <hr />
      <div class="cards-played">
        {{#each wrappedCards as |wrappedCard id|}}
          <button type="button" name="{{wrappedCard.card.id}}" class="feat-card-played-button card-played {{wrappedCard.checked}} {{wrappedCard.correctSuit}} cf-card-{{wrappedCard.card.data.value}}-{{wrappedCard.card.data.suit}}"></button>
        {{/each}}
      </div>
      <hr />
      <div class="perform-feat-total">{{total}}</div>
    </div>
	</section>
	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit">
			<i class="fas fa-check"></i>
		</button>
	</footer>
</form>