<form class="flexcol" autocomplete="off">
	<section class="content">
    <div>
      <b>{{spell.name}}</b> [<span class="suit-symbol-{{spell.system.suit}}">{{spellSuitSymbol}}</span>]<br/>
      <hr />
      <div class="grid grid-3col spell-definitions">
        <label class="fixed resource-label">{{localize "castle-falkenstein.spell.thaumicLevel"}}</label>
        <span class="value">{{spell.system.level}}</span>
        <label class="resource-label">{{localize 'castle-falkenstein.ability.ability'}}</label>
        <select class="sorcery-ability-select" name="spellBeingCast.sorceryAbilityId">
          {{selectOptions availableSorceryAbilities selected=spellBeingCast.sorceryAbilityId localize=false}}
        </select>
        <span class="value">-{{selectedSorceryAbilityLevel}}</span>
        {{#each spellBeingCast.definitionLevels}}
        {{#with (lookup ../spellDefinitions @key)}}
        <label class="resource-label">{{localize label}}</label>
        <select class="spell-definition-select" name="{{@key}}">
          {{selectOptions levels labelAttr="label" selected=../this localize=true}}
        </select>
        {{#with (lookup this.levels ../this)}}
        <span class="value">{{value}}</span>
        {{/with}}
        {{/with}}
        {{/each}}
        <input type="texT" class="fixed resource-label custom-modifier-label" value="{{spellBeingCast.customModifier.label}}"></input>
        <input type="number" step="1" class="value custom-modifier-value" value={{spellBeingCast.customModifier.value}}></input>
      </div>
      <br />
      <div class="define-spell-total">{{total}}</div>
    </div>
	</section>
	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit">
			<i class="fas fa-check"></i>
		</button>
	</footer>
</form>