<form class="flexcol" autocomplete="off">
	<section class="content">
    <div>
      <b>{{spell.name}}</b> [<span class="suit-symbol-{{spell.system.suit}}">{{spellSuitSymbol}}</span>]<br/>
      {{localize "castle-falkenstein.spell.thaumicLevel"}}: {{spell.system.level}}
      <hr />
      <div class="grid-2col spell-definitions">
      {{#each spellBeingCast.definitions}}
      {{#with (lookup ../spellDefinitions @key)}}
      <label class="resource-label">{{localize label}}</label>
      <select class="spell-definition-select" name="{{@key}}">
        {{selectOptions levels labelAttr="label" selected=../this localize=true}}
      </select>
      {{/with}}
      {{/each}}
      </div>
      <hr />
      <div class="grid-2col">
        <label class="resource-label">{{localize 'castle-falkenstein.ability.ability'}}</label>
        <select class="sorcery-ability-select" name="spellBeingCast.sorceryAbilityId">
          {{selectOptions availableSorceryAbilities selected=spellBeingCast.sorceryAbilityId localize=false}}
        </select>
      </div>
      <br />
      <div class="define-spell-total">{{total}}</div>
    </div>
	</section>
	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit">
			<i class="fas fa-check"></i>
		</button>
	</footer>
</form>