<form class="flexcol" autocomplete="off">
	<section class="content">
    <div>
      <div class="header">
        <div class="ability-level-as-sentence">{{{abilityLevelAsSentenceHtml}}}</div>
        <div class="max-cards">{{#if displayMaxCards}}{{maxCardsStr}}{{/if}}</div>
      </div>
      <hr />
      {{#if divorceSettingEnabled}}
      <div class="divorce">
        <label class="divorce-label">{{localize 'castle-falkenstein.settings.divorceVariation.divorceLabel'}}</label>
        <span class="divorce-hint">&nbsp;{{divorceHint}}</span>
        <button type="button" name="spades" class="divorce-button divorce-spades {{divorceSuit}}">{{{suitHTML.spades}}}</button>
        <span class="sep"></span>
        <button type="button" name="hearts" class="divorce-button divorce-hearts {{divorceSuit}}">{{{suitHTML.hearts}}}</button>
        <span class="sep"></span>
        <button type="button" name="diamonds" class="divorce-button divorce-diamonds {{divorceSuit}}">{{{suitHTML.diamonds}}}</button>
        <span class="sep"></span>
        <button type="button" name="clubs" class="divorce-button divorce-clubs {{divorceSuit}}">{{{suitHTML.clubs}}}</button>
        <span class="sep"></span>
      </div>
      <hr />
      {{/if}}
      <div class="cards-played">
        {{#each wrappedCards as |wrappedCard id|}}
          <button type="button" name="{{wrappedCard.card.id}}" class="feat-card-played-button {{wrappedCard.checked}}">{{{wrappedCard.smallCardImg}}}</button>
        {{/each}}
      </div>
      <hr />
      <div class="perform-feat-total">{{total}}</div>
    </div>
	</section>
	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit">
			<i class="fas fa-check"></i>
		</button>
	</footer>
</form>