<form class="flexcol" autocomplete="off">
	<section class="content">
    <div>
      {{localize 'castle-falkenstein.abilityLevelInSentence'}}{{levelI18nLabel}} [{{levelValue}}] {{localize 'castle-falkenstein.abilityNameInSentence'}}{{abilityData.name}} [<i class="cf-cards-generic-{{abilityData.data.suit}}"></i>].
    </div>
		<div class="perform-feat-cards">
      {{localize 'castle-falkenstein.feat.complementWithCards'}}:<br />
      {{#each cards as |item id|}}
        <input class="perform-feat-card-select" type="checkbox" {{checked item.data.checked}} name="{{item.id}}"><label for="{{item.name}}">{{item.name}}</label><br />
      {{/each}}
		</div>
    <div class="perform-feat-score">
      {{localize 'castle-falkenstein.feat.score'}}: {{score}}
    </div>
	</section>
	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit">
			<i class="fas fa-check"></i>
		</button>
	</footer>
</form>