<form class="flexcol" autocomplete="off">
	<section class="content">
    <div>
      {{levelI18nLabel}} [{{levelValue}}]{{localize 'castle-falkenstein.ability.levelNameSeparator'}}{{abilityData.name}} [<i class="cf-{{abilityData.data.suit}}"></i>]
      <hr />
      {{localize 'castle-falkenstein.feat.complementWithCards'}}:<br />
      {{#each wrappedCards as |wrappedCard id|}}
        <input class="perform-feat-card-select" type="checkbox" {{wrappedCard.checked}} name="{{wrappedCard.card.id}}"><label for="{{wrappedCard.card.name}}">{{wrappedCard.card.name}}</label><br />
      {{/each}}
      <hr />
      {{localize 'castle-falkenstein.feat.total'}}: {{score}}
    </div>
	</section>
	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit">
			<i class="fas fa-check"></i>
		</button>
	</footer>
</form>