<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      <div class="grid-2col health-and-wounds">
        {{#if userHasObserverOrOwnerAccess}}
          <div class="health flexcol">
            <label for="system.health.max" class="resource-label">{{localize 'castle-falkenstein.maxHealth'}}</label>
            <input type="number" name="system.health.max" value="{{system.health.max}}" data-dtype="Number"/>
          </div>
          <div class="wounds flexcol">
            <label for="system.wounds" class="resource-label">{{localize 'castle-falkenstein.wounds'}}</label>
            <input type="text" name="system.wounds" value="{{system.wounds}}" data-dtype="String"/>
          </div>
        {{/if}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="tab-link" data-tab="description">{{localize 'castle-falkenstein.description'}}</a>
    {{#if userHasObserverOrOwnerAccess}}
      <a class="tab-link" data-tab="diary">{{localize 'castle-falkenstein.diary'}}</a>
      <a class="tab-link" data-tab="abilities">{{localize 'castle-falkenstein.ability.abilities'}}</a>
      <a class="tab-link" data-tab="possessions">{{localize 'castle-falkenstein.possession.possessions'}}</a>
      <a class="tab-link" data-tab="spells">{{localize 'castle-falkenstein.spell.spells'}}</a>
    {{/if}}
    {{#if userIsHost}}
      <a class="tab-link" data-tab="host-notes">{{localize 'castle-falkenstein.hostNotes'}}</a>
    {{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description" spellcheck="false">
        {{editor enrichedDescription target="system.description" button=true editable=editable engine="prosemirror"}}
      </div>
    </div>

    {{#if userHasObserverOrOwnerAccess}}
      {{!-- Diary Tab --}}
      <div class="tab diary" data-group="primary" data-tab="diary" spellcheck="false">
        {{editor enrichedDiary target="system.diary" button=true editable=editable engine="prosemirror"}}
      </div>

      {{!-- Abilities Tab --}}
      <div class="tab abilities" data-group="primary" data-tab="abilities">
        {{> "systems/castle-falkenstein/src/documents/actor-abilities.hbs"}}
      </div>

      {{!-- Possessions Tab --}}
      <div class="tab possessions" data-group="primary" data-tab="possessions">
        {{> "systems/castle-falkenstein/src/documents/actor-possessions.hbs"}}
      </div>

      {{!-- Spells Tab --}}
      <div class="tab spells" data-group="primary" data-tab="spells">
        {{> "systems/castle-falkenstein/src/documents/actor-spells.hbs"}}
      </div>
    {{/if}}

    {{#if userIsHost}}
      {{!-- Host Notes Tab --}}
      <div class="tab host-notes" data-group="primary" data-tab="host-notes" spellcheck="false">
        {{editor enrichedHostNotes target="system.hostNotes" button=true editable=editable engine="prosemirror"}}
      </div>
    {{/if}}

  </section>
</form>

