<ol class="items-list">
  <li class="item items-header">
    <div class="define-spell" title="{{localize 'castle-falkenstein.sorcery.hand.render'}}"><a class="sorcery-hand-show"><i class="cf-poker-hand"></i></a></div>
    <div class="name" title="{{localize 'castle-falkenstein.spell.nameAndAspect'}}">{{localize 'castle-falkenstein.spell.nameAndAspect'}}</div>
    <div class="level" title="{{localize 'castle-falkenstein.spell.thaumicLevel'}}">{{localize 'castle-falkenstein.spell.thaumicLevelShort'}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="{{localize 'castle-falkenstein.item.add'}}" data-type="spell"><i class="fas fa-plus"></i> {{localize 'castle-falkenstein.item.add'}}</a>
    </div>
  </li>
  {{#each items as |item id|}}
  {{#if (eq item.type "spell")}}
    <li class="item" data-item-id="{{item._id}}">
      <div class="item-drag" data-item-id="{{item._id}}" title="{{localize 'castle-falkenstein.item.sort'}}"><i class="fas fa-bars"></i></div>
      <div class="define-spell" title="{{localize 'castle-falkenstein.sorcery.defineSpell'}}">
        <a class="rollable" data-roll-type="item" title="{{localize 'castle-falkenstein.sorcery.defineSpell'}}"><i class="fas fa-play-circle"></i></a>
      </div>
      <div class="name" title="{{item.name}} [{{item.system.suitSymbol}}]">
        {{item.name}} [<span class="suit-symbol-{{item.system.suit}}">{{item.system.suitSymbol}}</span>]
      </div>
      <div class="level">
        {{item.system.level}}
      </div>
      <div class="item-controls">
        <a class="item-control item-show" title="{{localize 'castle-falkenstein.item.sendToChat'}} - {{localize 'castle-falkenstein.spell.spell'}}"><i class="far fa-comments"></i></a>
        <a class="item-control item-edit" title="{{localize 'castle-falkenstein.item.edit'}}"><i class="far fa-edit"></i></a>
        <a class="item-control item-delete" title="{{localize 'castle-falkenstein.item.delete'}}"><i class="far fa-trash"></i></a>
      </div>
    </li>
  {{/if}}
  {{/each}}
</ol>