<ol class="items-list">
  <li class="item items-header">
    <div class="define-spell" data-tooltip="{{localize "castle-falkenstein.sorcery.hand.render"}}"><a class="sorcery-hand-show" draggable="true" data-type="Cards" data-uuid="{{sorceryHandUuid}}"><i class="cf-poker-hand"></i></a></div>
    <div class="name">{{localize "castle-falkenstein.spell.nameAndAspect"}}</div>
    <div class="level" data-tooltip="{{localize "castle-falkenstein.spell.thaumicLevel"}}">{{localize "castle-falkenstein.spell.thaumicLevelAbbr"}}</div>
    <div class="item-controls">
      <a class="item-control item-create" data-type="spell"><i class="fas fa-plus"></i> {{localize "castle-falkenstein.item.add"}}</a>
    </div>
  </li>
  {{#each items as |item id|}}
  {{#if (eq item.type "spell")}}
    <li class="item" data-item-id="{{item._id}}">
      <div class="item-drag" data-item-id="{{item._id}}" data-tooltip="{{localize "castle-falkenstein.item.sort"}}"><i class="fas fa-bars"></i></div>
      <div class="define-spell">
        <a class="rollable" data-roll-type="item" data-tooltip="{{localize "castle-falkenstein.sorcery.defineSpell"}}"><i class="fas fa-play-circle"></i></a>
      </div>
      <div class="name">
        {{item.name}} [<span class="suit-symbol-{{item.system.suit}}">{{item.system.suitSymbol}}</span>]
      </div>
      <div class="level">
        {{item.system.level}}
      </div>
      <div class="item-controls">
        <a class="item-control item-show" data-tooltip="{{localize "castle-falkenstein.item.sendToChat"}} - {{localize "castle-falkenstein.spell.spell"}}"><i class="fas fa-comments"></i></a>
        <a class="item-control item-edit" data-tooltip="{{localize "castle-falkenstein.item.edit"}}"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" data-tooltip="{{localize "castle-falkenstein.item.delete"}}"><i class="fas fa-trash"></i></a>
      </div>
    </li>
  {{/if}}
  {{/each}}
</ol>