<ol class="items-list">
  <li class="item items-header">
    <div class="perform-feat" title="{{localize 'castle-falkenstein.fortune.hand.render'}}"><a class="fortune-hand-show"><i class="cf-poker-hand"></i></a></div>
    <div class="name" title="{{localize 'castle-falkenstein.ability.ability'}}">{{localize 'castle-falkenstein.ability.ability'}}</div>
    <div class="level" title="{{localize 'castle-falkenstein.ability.level'}}">{{localize 'castle-falkenstein.ability.level'}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="{{localize 'castle-falkenstein.item.add'}}" data-type="ability"><i class="fas fa-plus"></i> {{localize 'castle-falkenstein.item.add'}}</a>
    </div>
  </li>
  {{#each items as |item id|}}
  {{#if (eq item.type "ability")}}
    <li class="item" data-item-id="{{item._id}}">
      <div class="item-drag" data-item-id="{{item._id}}" title="{{localize 'castle-falkenstein.item.sort'}}"><i class="fas fa-bars"></i></div>
      <div class="perform-feat" title="{{localize 'castle-falkenstein.feat.perform'}}">
        <a class="rollable" data-roll-type="item" title="{{localize 'castle-falkenstein.feat.perform'}}"><i class="fas fa-play-circle"></i></a>
      </div>
      <div class="name" title="{{item.system.prefixedDisplayName}}">
        {{item.system.prefixedDisplayName}} [<span class="suit-symbol-{{item.system.suit}}">{{item.system.suitSymbol}}</span>]
      </div>
      <div class="level">
        {{localize item.system.levelI18nKey}} [<span>{{item.system.levelValue}}</span>]
      </div>
      <div class="item-controls">
        <a class="item-control item-show" title="{{localize 'castle-falkenstein.item.showOthers'}} - {{localize 'castle-falkenstein.ability.ability'}}"><i class="fas fa-eye"></i></a>
        <a class="item-control item-edit" title="{{localize 'castle-falkenstein.item.edit'}}"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="{{localize 'castle-falkenstein.item.delete'}}"><i class="fas fa-trash"></i></a>
      </div>
    </li>
  {{/if}}
  {{/each}}
</ol>