<form class="{{cssClass}}" autocomplete="off">

  <header class="sheet-header">
    <div class="header-fields">
      <div class="flexcol">
        <div class="grid grid-6col ability-sheet-header {{#if system.isSpecialization}}specialization{{/if}}">
          <select name="system.isSpecialization" class="specialization-select">
            {{selectOptions specializationSelectOptions selected=system.isSpecialization localize=true}}
          </select>
          <select name="system.specializationOf" class="spe-only">
            {{selectOptions availableRootAbilities selected=system.specializationOf localize=false inverted=true}}
          </select>
          <span class="spe-only">:</span>
          <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
          <select name="system.own.suit" class="suit-select own-only">
            {{selectOptions CASTLE_FALKENSTEIN.cardSuitsSymbols selected=system.own.suit localize=false}}
          </select>
          <span class="own-only"></span>
          <label class="resource-label own-only">{{localize 'castle-falkenstein.ability.level'}}:</label>
          <select name="system.own.level" class="own-only">
            {{selectOptions CASTLE_FALKENSTEIN.abilityFullLevels selected=system.own.level localize=true}}
          </select>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="tab-link" data-tab="description">{{localize 'castle-falkenstein.description'}}</a>
    <a class="tab-link" data-tab="icon">{{localize 'castle-falkenstein.icon'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor enrichedDescription target="system.description" button=true editable=editable engine="prosemirror"}}
    </div>

    {{!-- Icon Tab --}}
    <div class="tab" data-group="primary" data-tab="icon">
      <center><img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100"/></center>
    </div>

  </section>
</form>
