<form class="{{cssClass}}" autocomplete="off">

  <header class="sheet-header">
    <div class="header-fields">
      <div class="flexcol">
        <div class="grid weapon-sheet-header1">
          <label class="resource-label">{{localize "castle-falkenstein.weapon.weapon"}}:</label>
          <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
        </div>
        <div class="grid weapon-sheet-header2">
          <label class="resource-label">{{localize "castle-falkenstein.weapon.effectiveRange"}}:</label>
          <input class="effective-range" name="system.effectiveRange" type="number" value="{{system.effectiveRange}}"/>
          <label class="resource-label">{{localize "castle-falkenstein.weapon.maxRange"}}:</label>
          <input class="max-range" name="system.maxRange" type="number" value="{{system.maxRange}}" />
          <span class="separator"></span>
          <label class="resource-label">{{localize "castle-falkenstein.weapon.conceal"}}:</label>
          <select name="system.conceal" class="conceal">
            {{selectOptions concealSelectOptions selected=system.conceal localize=true}}
          </select>
        </div>
        <div class="grid weapon-sheet-header3 {{#if hideWounds}}hide-wounds{{/if}}{{#if hideHarmRank}}hide-harm-rank{{/if}}">
          <label class="resource-label">{{localize "castle-falkenstein.weapon.ammunition"}}:</label>
          <input class="ammunition-current" data-tooltip="{{localize "castle-falkenstein.weapon.ammunitionCurrent"}}" name="system.ammunition" type="number" min="0" value="{{system.ammunition}}" placeholder="" />
          <span>/</span>
          <input class="ammunition-max" data-tooltip="{{localize "castle-falkenstein.weapon.ammunitionMax"}}" name="system.ammunition_max" type="number" min="0" value="{{system.ammunition_max}}" placeholder="" />
          {{#unless hideWounds}}
          <span class="separator"></span>
          <label class="resource-label">{{localize "castle-falkenstein.weapon.wounds"}}:</label>
          <input class="wounds-partial" data-tooltip="{{localize "castle-falkenstein.weapon.woundsPartial"}}" name="system.woundsPartial" type="number" min="0" value="{{system.woundsPartial}}" placeholder="" />
          <span>/</span>
          <input class="wounds-full" data-tooltip="{{localize "castle-falkenstein.weapon.woundsFull"}}" name="system.woundsFull" type="number" min="0" value="{{system.woundsFull}}" placeholder="" />
          <span>/</span>
          <input class="wounds-high" data-tooltip="{{localize "castle-falkenstein.weapon.woundsHigh"}}"name="system.woundsHigh" type="number" min="0" value="{{system.woundsHigh}}" placeholder="" />
          {{/unless}}
          {{#unless hideHarmRank}}
          <span class="separator"></span>
          <label class="resource-label">{{localize "castle-falkenstein.weapon.harmRank"}}:</label>
          <select name="system.harmRank" class="harm-rank">
            {{selectOptions harmRankSelectOptions selected=system.harmRank localize=false}}
          </select>
          {{/unless}}
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="tab-link" data-tab="description">{{localize "castle-falkenstein.description"}}</a>
    <a class="tab-link" data-tab="icon">{{localize "castle-falkenstein.icon"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor enrichedDescription target="system.description" button=true editable=editable engine="prosemirror"}}
    </div>

    {{!-- Icon Tab --}}
    <div class="tab" data-group="primary" data-tab="icon">
      <center><img class="profile-img" src="{{item.img}}" data-edit="img" alt="{{item.name}}" height="100" width="100"/></center>
    </div>

  </section>
</form>
